@font-face {
    font-family: "Risque";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Risque-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.text {
    margin: 0;
}

.caption {
    margin: 0;
}

.link {
    color: inherit;
    text-decoration: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.no-select-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.body {
    color: #ffffff;
    background-color: #141429;
    position: relative;
}

@media (min-width: 1440px) {
    .body::-webkit-scrollbar {
        display: none;
    }
}

.swiper {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: #141429;
    position: relative;
}

@media (min-width: 1440px) {
    .swiper {
        max-width: 100%;
    }
}

.header {
    display: flex;
    width: 100%;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 25px;
    background-color: #141429;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 1440px) {
    .header {
        justify-content: space-between;
        position: fixed;
        background-color: transparent;
        z-index: 3;
    }
}

.header__navidation {
    display: flex;
}

.menu {
    display: none;
}

@media (min-width: 1440px) {
    .menu {
        display: block;
        padding-top: 28px;
        margin-right: 150px;
    }
}

.menu__list {
    width: 800px;
    display: flex;
    justify-content: end;
}

.menu__item {
    display: block;
    margin-right: 70px;
    position: relative;
}

.menu__link {
    font-family: "Roboto", serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    display: block;
}

.menu__text {
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
}

.menu__text--hidden {
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -100%;
    color: #D02B2B;
}

.menu__link:hover > .menu__text {
    transform: translateY(-100%);
}

.menu__link:hover > .menu__text--hidden {
    transform: translateY(-100%);
}

.stretch-container {
    max-width: 450px;
    padding-left: 27px;
    padding-right: 27px;
}

@media (min-width: 1440px) {
    .stretch-container {
        max-width: 100%;
    }
}

.popup__toggle-button {
    position: fixed;
    left: calc(50vw + 139px);
    display: block;
    width: 60px;
    height: 60px;
    color: #FFF;
    background-color: #D02B2B;
    border: none;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    z-index: 5;
    padding: 0;
}

@media (min-width: 1440px) {
    .popup__toggle-button {
        position: static;
    }
}

.popup__line {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 6;
}

.popup--closed .popup__line::before {
    content: "";
    width: 34px;
    height: 4px;
    position: absolute;
    background-color: #ffffff;
    top: 19px;
    left: 13px;
    box-shadow: 0 10px 0 0 #ffffff;
    transition: all 200ms;
}

.popup--closed .popup__line::after {
    content: "";
    width: 34px;
    height: 4px;
    position: absolute;
    background-color: #ffffff;
    top: 39px;
    left: 13px;
    transition: all 200ms;
}

.popup--open .popup__line::before {
    content: "";
    width: 34px;
    height: 4px;
    position: absolute;
    background-color: #ffffff;
    top: 29px;
    left: 13px;
    transform: rotate(45deg);
    transition: all 200ms;
}

.popup--open .popup__line::after {
    content: "";
    width: 34px;
    height: 4px;
    position: absolute;
    background-color: #ffffff;
    top: 29px;
    left: 13px;
    transform: rotate(-45deg);
    transition: all 200ms;
}

.toggle {
    position: fixed;
    width: 450px;
    height: 100vh;
    top: 0;
    left: calc(50vw - 225px);
    background-color: #D02B2B;
    z-index: 4;
    display: flex;
}

@media (min-width: 1440px) {
    .toggle {
        left: 39vw;
        top: -87vh;
        position: absolute;
        width: 105vw;
        height: 201vh;
        border-radius: 50%;
        transition: all 500ms;
    }
}

.popup--closed .toggle {
    display: none;
}

@media (min-width: 1440px) {
    .popup--closed .toggle {
        display: block;
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        top: 25px;
        left: calc(100vw - 87px);
        z-index: 2;
        transition: all 500ms 300ms;
    }
}

.toggle__list {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

@media (min-width: 1440px) {
    .popup--closed .toggle__list {
        opacity: 0;
        transition: opacity 300ms;
    }
}

@media (min-width: 1440px) {
    .toggle__list {
        position: absolute;
        bottom: 54vh;
        left: 28vw;
        opacity: 1;
        align-self: auto;
        transition: opacity 300ms 500ms;
    }
}

.toggle__item:not(:last-of-type) {
    margin-bottom: 38px;
}

.toggle__link {
    display: block;
    font-family: "Risque", serif;
    font-size: 32px;
    line-height: 37px;
    font-weight: 400;
    text-align: center;
}

.main {
    width: 100%;
}

@-webkit-keyframes twinkle {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes twinkle {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (min-width: 1440px) {
    .snowflake {
        pointer-events: none;
        display: block;
        width: 448px;
        height: 448px;
        top: 41vh;
        background-image: url("../images/snowflake.png");
        background-size: 448px 448px;
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        left: -184px;
        z-index: 0;
        -webkit-animation: rotating 30s linear infinite;
        -moz-animation: rotating 30s linear infinite;
        -ms-animation: rotating 30s linear infinite;
        -o-animation: rotating 30s linear infinite;
        animation: rotating 30s linear infinite;
        transition: 300ms;
    }
}

.stars-wrapper::before {
    pointer-events: none;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/stars-mobile.png);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: 79px -85px;
    animation: twinkle 1s linear infinite alternate;
    z-index: 0;
}

@media (min-width: 1440px) {
    .stars-wrapper::before {
        background-image: url(../images/stars-desctop.png);
        background-size: 1330px 624px;
        background-position: 78px 29px;
        background-color: transparent;
    }
}

.intro {
    min-height: 686px;
    padding-top: 131px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 316px;
    background-image: url(../images/ded.png);
    background-repeat: no-repeat;
    background-size: 544px 316px;
    background-position: -66px 380px;
    position: relative;
    z-index: 2;
}

@media (min-width: 1440px) {
    .intro {
        width: 100%;
        padding-top: 254px;
        padding-left: 148px;
        padding-bottom: 0;
        min-height: 100vh;
        background-image: url(../images/ded.png);
        background-size: 1001px 581px;
        background-position: calc(100vw - 883px) bottom;
    }

    .intro::after {
        content: "How how how !!! \A Like it? \A Scroll down for more!";
        white-space: pre-wrap;
        display: block;
        padding-top: 58px;
        padding-left: 42px;
        color: #000000;
        font-family: "Risque", serif;
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
        width: 281px;
        height: 197px;
        background-image: url(../images/cloud.png);
        background-repeat: no-repeat;
        position: absolute;
        bottom: 253px;
        right: 513px;
        opacity: 0;
        animation: delayedLoad 1s 3s forwards;
    }

    @-webkit-keyframes delayedLoad {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes delayedLoad {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.intro__caption {
    font-family: "Risque", serif;
    font-size: 52px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 13px;
    white-space: nowrap;
}

@media (min-width: 1440px) {
    .intro__caption {
        font-size: 72px;
        line-height: 83px;
        margin-bottom: 20px;
    }
}

.intro__description {
    font-family: "Risque", serif;
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 43px;
    white-space: nowrap;
}

@media (min-width: 1440px) {
    .intro__description {
        font-size: 38px;
        line-height: 44px;
        margin-bottom: 27px;
    }
}

.intro__link {
    display: block;
    bottom: 100px;
    left: 10px;
    display: block;
    width: fit-content;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 43px;
    padding-right: 38px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    white-space: nowrap;
    transition: background-color 500ms, color 500ms, border 500ms;
}

@media (min-width: 1440px) {
    .intro__link {
        margin-left: 0;
    }
}

.intro__link:hover {
    background-color: #ffffff;
    color: #141429;
    border: 2px solid #141429;
}

.gifts {
    background-image: url(../images/gifts-bg.jfif);
    padding-top: 94px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: relative;
    z-index: 3;
}

@media (min-width: 1440px) {
    .gifts {
        position: static;
        z-index: auto;
        width: 100%;
        min-height: 100vh;
        padding-top: 200px;
        padding-bottom: 0;
        padding-right: 73px;
        padding-left: 81px;
        background-position: -34px -64px;
        background-size: calc(100vw + 54px) calc(100vh + 179px)
    }
}

@media (min-width: 1440px) {
    .gifts__container {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1440px) {
    .gifts__selection {
        max-width: 716px;
        justify-content: space-between;
    }
}

.gifts__caption {
    font-family: "Risque", serif;
    font-size: 52px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 25px;
}

@media (min-width: 1440px) {
    .gifts__caption {
        font-size: 56px;
        line-height: 65px;
        margin-bottom: 30px;
    }
}

.gifts__text {
    font-family: "Risque", serif;
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 34px;
}

@media (min-width: 1440px) {
    .gifts__text {
        font-size: 38px;
        line-height: 44px;
        margin-bottom: 30px;
    }
}

.gifts__list {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1440px) {
    .gifts__list {
        margin-bottom: 0;
        justify-content: start;
        gap: 0 33px;
    }
}

.gifts__item {
    width: 111px;
    height: 111px;
    background-color: #FFF;
    border-radius: 50%;
    text-indent: -9999em;
    box-shadow: inset 4px 10px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

@media (min-width: 1440px) {
    .gifts__item {
        width: 150px;
        height: 150px;
    }
}

.gifts__item--active {
    background-color: transparent;
    box-shadow: none;
    outline: 5px solid #ffffff;
    outline-offset: -5px;
}

.gifts__picture {
    display: block;
    align-self: center;
    width: 111px;
    height: 111px;
}

@media (min-width: 1440px) {
    .gifts__picture {
        width: 150px;
        height: 150px;
    }
}

.gifts__picture--sock {
    background-image: url("../images/sock.png");
    background-size: 52px 90px;
    background-position: 27px 11px;
    background-repeat: no-repeat;
}

@media (min-width: 1440px) {
    .gifts__picture--sock {
        background-size: 70px 121px;
        background-position: 34px 14px;
    }
}

.gifts__picture--hat {
    background-image: url("../images/hat.png");
    background-size: 92px 70px;
    background-position: 12px 21px;
    background-repeat: no-repeat;
}

@media (min-width: 1440px) {
    .gifts__picture--hat {
        background-size: 124px 94px;
        background-position: 17px 28px;
    }
}

.gifts__picture--bag {
    background-image: url("../images/bag.png");
    background-size: 71px 74px;
    background-position: 26px 16px;
    background-repeat: no-repeat;
}

@media (min-width: 1440px) {
    .gifts__picture--bag {
        background-size: 95px 100px;
        background-position: 34px 21px;
    }
}

.present {
    padding-top: 74px;
}

@media (min-width: 1440px) {
    .present {
        outline: 3px solid #ffffff;
        border-radius: 20px;
        width: 553px;
        padding-top: 58px;
        padding-left: 35px;
        padding-bottom: 38px;
    }
}

.present__item {
    padding-top: 240px;
    min-height: 240px;
    background-repeat: no-repeat;
    background-position: center 0;
}

@media (min-width: 1440px) {
    .present__item {
        padding-top: 0;
    }
}

.present__item:nth-of-type(1) {
    background-image: url(../images/sock.png);
    background-size: auto 240px;
}

@media (min-width: 1440px) {
    .present__item:nth-of-type(1) {
        background-position: right 38px top 0px;
    }
}

.present__item:nth-of-type(2) {
    background-image: url(../images/hat.png);
    background-size: auto 140px;
    background-position: center 10%;
}

@media (min-width: 1440px) {
    .present__item:nth-of-type(2) {
        background-size: auto 120px;
        background-position: right 38px top 60px;
    }
}

.present__item:nth-of-type(3) {
    background-image: url(../images/bag.png);
    background-size: auto 180px;
}

@media (min-width: 1440px) {
    .present__item:nth-of-type(3) {
        background-size: auto 140px;
        background-position: right 38px top 60px;
    }
}

.present__caption {
    font-family: "Risque", serif;
    font-size: 42px;
    line-height: 49px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width: 1440px) {
    .present__caption {
        text-align: start;
    }
}

.present__description {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    line-height: 33px;
    font-weight: 400;
    max-width: 315px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1440px) {
    .present__description {
        margin-left: 0;
    }
}

.contacts {
    padding-top: 133px;
    padding-bottom: 75px;
    background-image: url(../images/deer.jfif);
    background-repeat: no-repeat;
    background-size: 1493px 970px;
    background-position: -540px 0px;
}

@media (min-width: 1440px) {
    .contacts {
        width: 100%;
        padding-top: 181px;
        padding-left: 71px;
        background-position: 0 -70px;
        background-size: 100vw calc(100vh + 132px);
        min-height: 100vh;
    }
}

.contacts__caption {
    font-family: "Risque", serif;
    font-size: 52px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 24px;
}

@media (min-width: 1440px) {
    .contacts__caption {
        margin-bottom: 29px;
    }
}

@media (min-width: 1440px) {
    .form__list {
        display: grid;
        grid-template-columns: 220px 220px;
        gap: 20px 23px;
    }
}

.form__item:not(:last-of-type) {
    margin-bottom: 24px;
}

@media (min-width: 1440px) {
    .form__item:not(:last-of-type) {
        margin-bottom: 0;
    }
}

@media (min-width: 1440px) {
    .form__item--wide {
        grid-column: 1 / span 2;
    }
}

.form__input {
    width: 100%;
    height: 51px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    outline: 2px solid #fff;
    padding-left: 26px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    font-family: "Roboto", serif;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
}

.form__input::placeholder {
    color: #fff;
    font-family: "Roboto", serif;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
}

.form__select {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none; */

    width: 100%;
    height: 51px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    outline: 2px solid #fff;
    padding-left: 22px;
    padding-top: 13px;
    padding-bottom: 15px;
    color: #fff;
    font-family: "Roboto", serif;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
}

.form__option {
    background-color: #ffffff;
    color: #CECECE;
    width: 10px;
}

.form__textarea {
    width: 100%;
    height: 95px;
    min-height: 95px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    outline: 2px solid #fff;
    padding-left: 26px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    font-family: "Roboto", serif;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    resize: vertical;
}

.form__textarea::placeholder {
    color: #fff;
    font-family: "Roboto", serif;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
}

.form__label {
    color: #fff;
    font-family: "Roboto", serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    position: relative;
    padding-left: 27px;    
}

@media (min-width: 1440px) {
    .form__label {
        color: #D02B2B;
    }
}

.form__label::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 2px solid #D02B2B;
    border-radius: 3px;
    left: 0;
}

.form__checkbox:checked~.form__label::before {
    background-image: url("../images/tick.svg");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    background-color: #ffffff;
}

/* SWIPER */

html,
body {
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}


/* Falling snow */

.body__snow-container {
    pointer-events: none;
    position: absolute;
    display: block;
    height: 100vh;
    z-index: 3;
    width: 450px;
    margin-left: calc(50vw - 225px);
    margin-right: calc(50vw - 225px);
}

@media (min-width: 1440px) {
    .body__snow-container {
        width: 100vw;
        margin-left: 0;
    }
}

.snow {
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5vh;
}

@keyframes snowfall {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, 110vh, 0);
    }
}

.snow:nth-child(6n) {
    filter: blur(1px);
}